{% extends 'home/base.html'%}
{%block titulo%}Historial de viajes{%endblock%}
{%block Encabezado%}<center><h1>Historial de viajes<h1><center>{%endblock%}
{%block contenido%}
 

	<!-- START THE FEATURETTES -->
      {% for item in v%}
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">{{item.ruta}} <span class="text-muted"><h4><p>Choferes: {{item.chofer1}}</p><p>Asistente:{{item.asistente}}</h4></span></h2>
          <p class="lead">
          	<p class="lead">Camión: {{item.camion}}</p>
          <p class="lead">Salida:{{item.fechaSalida}}</p>
          	
          	<p>Tuvo paradas en:</p>
          	{%for item2 in paradas%}
              {% if item2.ruta == item.ruta  %}
          		<li>{{item2.parada}}</li>
              {% endif %}
          	{% endfor %}
			<br>
  

          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-thumbnail" src="{{MEDIA_URL}}{{ item.ruta.origen.imagen }}" alt="Generic placeholder image" width="300px" heigth="150px">
          <img class="featurette-image img-responsive img-thumbnail" src="{{MEDIA_URL}}{{ item.ruta.destino.imagen }}" alt="Generic placeholder image" width="300px" heigth="150px">
        </div>
      </div>
      <hr class="featurette-divider">
    {%endfor%}
{%endblock%}